<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pacesoft.sdk">


    <application android:usesCleartextTraffic="true">


        <!--************************************
        ****************************************
        ****************************************
        ***** Zimperium zDefend components *****
        ****************************************
        *************************************-->


        <activity
            android:name="com.pacesoft.sdk.ui.zDefend.TemperedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:exported="false"
            android:name="com.zimperium.zdetection.service.ZPermissionCheckActivity"
            android:launchMode="singleInstance"
            android:theme="@style/PermissionCheckTheme" />

        <service
            android:name="com.zimperium.zdetection.service.DetectionService"
            android:enabled="true"
            android:foregroundServiceType="location" />
        <service
            android:name="com.zimperium.zips.NPAService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zimperium.zips_namonitoraction" />
            </intent-filter>
        </service> <!-- For KNOX -->
        <receiver
            android:exported="false"
            android:name="com.zimperium.zdetection.knox.KnoxLicenseReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="edm.intent.action.license.status" />
            </intent-filter>
        </receiver> <!-- App Config for EMM AFW -->
        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <!-- Manifest merger failed
        Already present in .aar file
        -->
        <!--<provider
            android:name="com.zimperium.zdetection.db.contentprovider.ZDetectionProvider"
            android:authorities="com.zimperium.zdefend_demo.zdetection.provider"
            android:exported="false" />

        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="com.zimperium.zdefend_demo.lifecycle-process"
            android:exported="false"
            android:multiprocess="true" />-->

    </application>

</manifest>